@import "tailwindcss";

@theme {
  var(--color-recl-bg-start): #e8f5e9;
  var(--color-recl-bg-end): #66bb6a;
  var(--color-recl-dark): #1b3325;
  var(--color-recl-card): #4a7c59;
  var(--font-sans): ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* Background global untuk semua layar */
  background: linear-gradient(
    to bottom,
    var(--color-recl-bg-start),
    var(--color-recl-bg-end)
  );
  min-height: 100vh;
  font-family: var(--font-sans);
  color: #1f2937;
}
